h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.8em;
}

.subtitle {
  font-size: 1.4em
}

.App {
  text-align: center;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentContainer {
  color: white;
  width: fit-content;
  margin: 0 auto;
  padding: 0px 60px;
  /* background-color: #00000029; */
  text-shadow: 0 0 5px black;
  border-radius: 15px;
}

